:root {
    --primary-color: #ff4654;
    --secondary-color: #ba3a46;
    --text-color: white;
    --bgc: #111823;
    --hr: #ff4656a9;
}

body {
    background-color: #111823;
    color: white;
    font-family: intel, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.blur{
    background-color: rgba(0, 0, 0, 0.566);
    backdrop-filter: blur(12px);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    padding-top: 2vh;
    padding-bottom: 1vh;
    transition: 1s;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
    padding-bottom: 3px;

}

.nav-links li a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--secondary-color);
    transition: 1s;
    border-bottom: 2px var(--secondary-color) solid;
}

.nav-links li a {
    font-size: 20px;
}

.now {
    color: var(--primary-color);
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 54px;
    height: 50px;
    margin-right: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.cus:hover {
    color: var(--primary-color);
    transition: 1s;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

hr {
    width: 100%;
    height: 2px;
    background-color: var(--hr);
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    width: 100vw;
    height: 20vh;
    position: relative;
    top: 10vh;
    background-color: #0a0e14;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 10vw;
    font-size: 20px;
}